@charset "EUC-KR";

@media (max-width: 991px) {
	.pwselect-form {
		padding: 0;
		margin: 0;
		width: 470px;
	}
}

.pwselect-field {
	font-size: 14px;
	margin-bottom: 10px;
	border-width : 1px;
	border-radius: 5px;
	padding: 10px;
	width: 70%;
}

.pwsubmit-btn {
	color: #EEEFF1;
	font-size: 14px;
	background-color: #162b45;
	margin-bottom: 30px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	width: 70%;
	height: 50px;
}