@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container-taebins {
	background: linear-gradient(10deg, #EBF5FF, #A6945F);
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 0;
	padding-bottom: 10%;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans-serif;
	font-weight: lighter;
	
}
.UserName1{
	text-align: left;
	
}
.UserName2{
	text-align: right;
}
.whats {
	background: linear-gradient(150deg, #EBF5FF, #DEC893);
	width: 60%;
	margin: auto;
	padding: 2%;
	border: 0.5px solid black;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: white;
	box-shadow: 1px 1px 1px lavenderblush;
}

.whatsup{
	margin-top: 5px;
	margin-right: 70%;
}
tbody {
	overflow: auto;
}


.qna_set {
	margin-top: -10%;
}

.container-TB {
	font-family: Arial;
	display: flex;
	align-items: flex-end;
	height: 10%;
	font-size: 50px;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

.container-TB.svg {
	display: block;
	font: 3.5em 'Qna List';
}


.text-copy {
	text-shadow: 1px 1px 1px lavenderblush;
	fill: #c0ad92;
	stroke: silver;
	stroke-dasharray: 6% 29%;
	stroke-width: 2px;
	stroke-dashoffset: 2%;
	animation: stroke-offset 10s infinite linear;
}

.text-copy:nth-child(1) {
	stroke: #FFEFDE;
	animation-delay: -3s;
}

.text-copy:nth-child(2) {
	stroke: #ECFFE1;
	animation-delay: -6s;
}

.text-copy:nth-child(3) {
	stroke: white;
	animation-delay: -9s;
}

@keyframes stroke-offset { 30% {
	stroke-dashoffset: 30%;
}
}