@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.Alltable {
	
}

.tdtdtable {
	width: 350px;
	padding-left: 150px;
}

.tedtable {
	width: 350px;
	padding-left: 500px;
}

.tedtdtable {
	width: 400px;
	padding-left: 200px;
}

.divtable {
	width: 300px;
}

.tdtable {
	background-color: #64AEFF;
}

.twotable {
	background-color: #64AEFF;
	padding-left: 200px;
}

.tte {
	width: 100px;
}

.tet {
	width: 50px;
}

.container-taebins {
	background-color: #64AEFF;
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 0;
	padding-bottom: 10%;
	font-family: sans-serif;
	font-weight: lighter;
}
.tasize{
	width: 100px;
}
.tb-btn {
	color: #EEEFF1;
	font-size: 7px;
	background-color: #64A4FF;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 0;
	box-shadow: 2px 2px 2px lightgray;
	width: 70%;
	border-radius: 5px;
}

.onetable {
	width: 650px;
	border: 0.5px solid black;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

tbody {
	background-color: white;
	overflow: auto;
}

thead, td {
	text-align: center;
}

thead {
	background-color: #64A4FF;
	color: white;
}

.qna_set {
	margin-top: -10%;
}

.container-TB {
	font-family: Arial;
	display: flex;
	align-items: flex-end;
	height: 10%;
	font-size: 50px;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

.container-TB.svg {
	display: block;
	font: 3.5em 'Qna List';
}

.clear-btn {
	color: #EEEFF1;
	font-size: 14px;
	background-color: #64A4FF;
	padding: 10px;
	margin: 10px;
	margin-left: 10%;
	border-radius: 5px;
	border: 0;
	box-shadow: 2px 2px 2px lightgray;
	width: 10%;
	border-radius: 5px;
}

.text-copy {
	text-shadow: 1px 1px 1px white;
	fill: #72B6FF;
	stroke: silver;
	stroke-dasharray: 6% 29%;
	stroke-width: 2px;
	stroke-dashoffset: 2%;
	animation: stroke-offset 10s infinite linear;
}

.text-copy:nth-child(1) {
	stroke: #FFEFDE;
	animation-delay: -3s;
}

.text-copy:nth-child(2) {
	stroke: #ECFFE1;
	animation-delay: -6s;
}

.text-copy:nth-child(3) {
	stroke: white;
	animation-delay: -9s;
}

@keyframes stroke-offset { 50% {
	stroke-dashoffset: 5%;
}
}

@media (max-width: 992px) {
	.Alltable{
		width: 370px;
		right: 0;
		font-size: 12px;
	}
	.onetable {
		width: 200px;
	}
	.divtable {
		width: 200px;
	}
	.tdtdtable {
		width: 100px;
		padding-left: 20px;
	}
	.tedtable {
		width: 100px;
		padding-left: 30px;
	}
	.theded {
		width: 50px;
	}
}