<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/bsh/db/db.properties"></properties>
	
	<typeAliases>
		<typeAlias type="com.bsh.model.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.bsh.model.MessageDTO" alias="MessageDTO"/>
		<typeAlias type="com.bsh.model.WishPlaceDTO" alias="WishPlaceDTO"/>
		<typeAlias type="com.bsh.model.WishRestDTO" alias="WishRestDTO"/>
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/bsh/mapper/MemberMapper.xml"/>
    <mapper resource="com/bsh/mapper/MessageMapper.xml"/>
    <mapper resource="com/bsh/mapper/WishPlaceMapper.xml"/>
    <mapper resource="com/bsh/mapper/WishRestMapper.xml"/>
  </mappers>
</configuration>